<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab03 Test Suite" parallel="classes" thread-count="2" verbose="1">
    <listeners>
        <listener class-name="com.lab03.utils.TestListener" />
    </listeners>
    <test name="Lab03 Automated Tests">
        <classes>
            <class name="com.lab03.UI.SwagLabsTest"/>
            <class name="com.lab03.API.JsonPlaceholderApiTest"/>
        </classes>
    </test>
</suite>
